@import "../../../sass/myvariable.scss";

.base {
  background-color: $qr-soft-purple;
}

.inBase {
  padding: 80px 0;
  @media (max-width: 1024px) {
    padding: 50px 0;
  }
  @media (max-width: 658px) {
    padding: 10px 0;
  }
}
.breakLine {
  display: inline;
}
.title {
  text-align: center;
  max-width: 1024px;
  line-height: 1.25;
  margin: 0 auto 60px;
  font-weight: 500;
  font-size: 48px;

  @media (max-width: 658px) {
    font-size: 32px;
    margin: 40px auto 50px;
    .breakLine {
      display: none;
    }
  }
}

.card {
  max-width: 324px;
  min-width: 300px;
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(to right, #5e72e4 0%, #009eab 100%);
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #fff, #fff),
    linear-gradient(to right, #5e72e4 0%, #009eab 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;

  .cardTitle {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: $qr-black;
  }

  p {
    text-align: center;
  }
  .dollor {
    margin: 8px auto;
    display: flex;
    gap: 0 4px;
    text-align: center;

    .currency {
      font-size: 16px;
      align-items: start;
    }
    .amount {
      font-size: 44px;
    }
    .duration {
      font-size: 12px;
      margin: auto 0;
    }
  }
}
