// HamburgerMenu.module.scss
.hamburgerMenu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: space-between;

  .bar {
    width: 100%;
    height: 3px;

    border-radius: 4px;
    background-color: #333;
    margin: 4px 0;
    transition: all 0.4s ease;
    position: relative;
    transform-origin: 4px;
    // left: 0;
    @media (max-width: 658px) {
      margin: 0;
      height: 2px;
      transform-origin: 0;
    }
  }

  &.open {
    .bar:nth-child(1) {
      transform: rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
      transform: translateX(-20px);
    }

    .bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
