@import "../../sass/color.scss";

.navbar {
  background-color: white;
  display: flex;
  gap: 12px;
  padding: 30px 0;
}

.logo {
  flex: 1;
  text-align: center;


  Img {
    max-width: 100%;
    margin: 0 auto;
  }

  @media (max-width: 600px) {
    Img {
      width: 100px;
    }
  }
}
.menu {
  // background-color: green;
  flex: 4;
}
.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 60px;
  list-style: none;
  font-weight: 600;

  li {
    text-decoration: none;
  }
}

.btnTry {
  background-color: red;
}
