@import "../../sass/color.scss";

.navbar {
  background-color: white;
  display: flex;
  gap: 12px;
  padding: 30px 0;
  justify-content: space-between;
}

.logo {
  flex: 1;
  text-align: center;

  Img {
    max-width: 100%;
    margin: 0 auto;
  }

  @media (max-width: 400px) {
    Img {
      width: 100px;
    }
  }
}

.menu {
  flex: 4;
}
.menu-items {
  @media (max-width: 830px) {
    display: none;
  }
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 60px;
  list-style: none;
  font-weight: 600;
  transition: transform 0.3s ease;

  li {
    text-decoration: none;
    cursor: pointer;

    .active {
      color: aqua;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

.btnTry {
  margin: auto 0px;
  @media (max-width: 830px) {
    display: none;
  }
}

.iconMobile {
  @media (min-width: 830px) {
    display: none;
  }
  @media (max-width: 658px) {
    width: 22px;
    height: 18px;
  }
  width: 30px;
  height: 24px;
  // background-color: red;
}

.mobileMenu {
  @media (max-width: 830px) {
    display: block;
  }

  @media (min-width: 830px) {
    display: none;
  }
}
.hidde {
  display: none;
}
