@import "../../sass/myvariable.scss";
// @import "../../sass/basic.scss";

.navbar {
  background-color: white;
  display: flex;
  // max-width: 1044px;
  margin: 0 auto;
  gap: 12px;
  padding: 30px 0;
  justify-content: space-between;
  @media (max-width: 630px) {
    padding: 24px 15px;
  }
}

.logo {
  flex: 1;
  text-align: center;

  Img {
    max-width: 100%;
    margin: 0 auto;
  }

  @media (max-width: 400px) {
    Img {
      width: 100px;
    }
  }
}

.menu {
  flex: 4;
}
.menu-items {
  @media (max-width: 830px) {
    display: none;
  }
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 60px;
  list-style: none;
  font-weight: 600;
  transition: transform 0.3s ease;

  li {
    text-decoration: none;
    cursor: pointer;
    a{
      text-decoration: inherit;
      color: inherit;
    }

    .active {
      color: aqua;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

.iconMobile {
  @media (min-width: 830px) {
    display: none;
  }
  @media (max-width: 658px) {
    width: 22px;
    height: 18px;
  }
  width: 30px;
  height: 24px;
  // background-color: red;
}

.mobileMenu {
  list-style: none;
  z-index: $z-index3;
  left: 0;
  right: 0;
  margin-top: 3px;
  height: 100%;
  position: absolute;
  background-color: white;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 400;
  :hover li {
    background-color: #33333333;
  }
  li {
    padding: 20px 0;
    border-bottom: solid 1px #33333333;
    a{
      text-decoration: inherit;
      color: inherit;
    }
  }

  @media (max-width: 830px) {
    display: block;
  }

  @media (min-width: 830px) {
    display: none;
  }
}
.hidde {
  display: none;
}
.btnTry {
  margin: auto 0px;
  @media (max-width: 830px) {
    display: none;
  }
}
.btnTry2 {
  margin: 50px auto;
  text-align: center;
  @media (min-width: 830px) {
    display: none;
  }
}
