@import "../../sass/myvariable.scss";

.footer {
  background-color: $qr-black;
  padding: 30px 0 20px;
}
.inbase {
  display: flex;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: center;
  gap: min(120px, 6vw);
  @media (max-width: 658px) {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
}
.wrapper {
  flex-grow: 1;
  display: flex;
  max-width: 852px;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 80px;

  @media (max-width: 658px) {
    max-width: 400px;

    gap: 40px;
  }
}

.logo {
  max-width: 170px;
  min-width: 164px;
}

.group {
  color: #fff;
  min-width: 124px;

  align-items: start;

  display: flex;
  flex-direction: column;
  gap: 16px;

  a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
  }
}

.title {
  font-weight: 600;
  padding: 12px 0;
  letter-spacing: 1.4px;
  font-size: 14px;
  margin-bottom: 8px;
}
.scl {
  width: 170px;
}
.social {
  margin: 40px 0;
  display: flex;
  gap: 20px;
}

.copyRight {
  margin: 40px auto 10px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
