@import "../../../sass/myvariable.scss";
.breakLine {
  display: none;
}
.mainTitle {
  margin: 0 auto;
  padding-top: min(5vw, 50px);
  text-align: center;
  font-size: max(min(6vw, 72px), 30px);
  color: $qr-black;
  span {
    background-image: $qr-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: inherit;
  }

  @media (min-width: 358px) {
    .breakLine {
      display: inline;
    }
  }
}

.mainDesc {
  text-align: center;
  color: $qr-black;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  padding: 24px;

  @media (max-width: 658px) {
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
  }

  @media (min-width: 958px) {
    .breakLine {
      display: inline;
    }
  }
}

.btnrow {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 24px;
  justify-content: center;
  @media (max-width: 658px) {
    flex-direction: column;
  }
}
.btnprice {
  display: flex;
  gap: 4px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  .icn {
    width: 18px;
    height: 18px;
    @media (max-width: 658px) {
      width: 16px;
      height: 16px;
    }
  }
}

.imgFeature {
  margin: min(6vw, 65px) auto;
  max-width: 860px;
}
